<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{{appName}}.</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta name="keywords" content="pipelines, British Columbia, energy development, green activism, ecology, environmentalism">
  <meta name="description" content="Welcome to Pipewatch. This site is meant to empower you. Learn about pipelines and help keep an eye on development.">

  <meta property="fb:app_id" content="APP_ID">
  <meta property="og:title" content="Pipewatch">
  <meta property="og:description" content="Pipewatch - This site is meant to empower you. Learn about pipelines and the latest news.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="APP_URL">
  <meta property="og:image" content="APP_LOGO">
  <meta property="og:site_name" content="Pipewatch - Keeping an eye on pipelines">
  <meta property="fb:admins" content="APP_ADMIN">

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">

  {% for file in aggregatedassets.header.css %}
    <link rel="stylesheet" href="{{file}}">
  {% endfor %}

  {% for file in aggregatedassets.footer.css %}
    <link rel="stylesheet" href="{{file}}">
  {% endfor %}

  {% for file in aggregatedassets.header.js %}
    <script type="text/javascript" src="{{file}}"></script>
  {% endfor %}

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
