<div ng-controller="GroupPagesController">
 <section class="container-fluid no-padding" data-ng-controller="MediaPageListController">
  <img src="/packages/contrib/groupPages/public/assets/img/pages/media.jpg" class="img-responsive">
  <div class="col-md-12 first">
    <div class="col-sm-8">
        <h3>Videos, images, files and more</h3>
        <p>Please feel free to upload any Burnaby Mountain or other pipeline related media here. It will be organized and stored for documentaries and archives.</p>
        <!-- Upload abilities, open to all-->
        <p>For big uploads, use Google Storage. For images, use the local upload. Only admins can upload to pages right now.</p>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn-primary" ng-click="googleStorage()">Google storage</button>
                <div ng-controller="GoogleStorageController" ng-show="googleStorage.editingAllowed===true" class="ng-hide">
                    <p>To use Google storage, you have to sign into Google using the button below, and then connect and upload your files.</p>
                    <button ng-if="!connectedToGoogleStorage" class="btn btn-success" ng-click="connectGoogleStorage()">Connect</button>
                    <div ng-if="connectedToGoogleStorage" ng-model="connectedToGoogleStorage">Connected!</div>
                    <button class="btn btn-default pull-right" id="authorize-button" style="visibility: hidden">Authorize</button>
                    <input type="file" id="filePicker" onchange="angular.element(this).scope().insertObject()" />
                    <button class="btn btn-success" ng-click="getBucketFiles()">Get all files</button>
                    <div ng-if="googleFileAttachments">
                        <h5>Google files</h5>
                        <div ng-repeat="file in googleFileAttachments" class="col-sm-3">
                            <a href="{{file.mediaLink}}">{{file.name}}</a>
                            <img class="img-responsive" src="{{file.mediaLink}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <button class="btn-primary" ng-click="uploadFile()">Upload Image</button>
                <div ng-controller="MeanUploadController" ng-show="uploadFile.editingAllowed===true" class="ng-hide">
                  <mean-upload file-dest="'/files/photos/'"
                    upload-callback="uploadFinished3(files)"
                    upload-file-callback="uploadFileCallback2(file)"></mean-upload>
                </div>
            </div>
        </div>
        <hr>
        <h4>Latest images</h4>
        <div ng-init="getMediaPost()">
            <!-- Gallery of images -->
            <div id="links">
                <div data-ng-repeat="img in imageAttachments">
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <a href="{{img.src}}" data-gallery>
                            <img style="margin:10px;box-shadow:2px 2px 2px #CCC;border:thin #ccc solid;" class="img-responsive" src="{{img.src}}" alt="Add alt">
                        </a>
                        <button data-ng-if="isAdminOfMedia()" class="btn btn-danger" ng-click="deleteImageThisPage(img)">Delete</button>
                    </div>
                </div>
            </div>
            <div id="blueimp-gallery" class="blueimp-gallery">
                <!-- The container for the modal slides -->
                <div class="slides"></div>
                <!-- Controls for the borderless lightbox -->
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
                <!-- The modal dialog, which will be used to wrap the lightbox content -->
                <div class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" aria-hidden="true">&times;</button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body next"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left prev">
                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                    Previous
                                </button>
                                <button type="button" class="btn btn-primary next">
                                    Next
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h5>Get involved</h5>
        <p>Creating your own page can help you share media, collaborate with others, and more.</p>
        <a class="btn btn-success" data-ng-href="/#!/groupPages/create">Create a page</a>
        <hr>
        <div id="newsList">
            <h4>Media Pages List</h4>
            <div ng-repeat="page in media">
                <span data-ng-if="hasAuthorization(page)">
                  <a href="/#!/groupPages/{{page._id}}/edit">Edit</a> | 
                  <a data-ng-click="drop(page);remove(page)">Delete</a> ||
                </span>
                <a data-ng-href="#!/groupPages/{{page._id}}">{{page.title}}</a>
            </div>
        </div>
    </div>
 </div>
</section>
</div>
