<div ng-controller="NewsController">
    <div class="col-sm-8">
      <!-- Page introduction area -->
      <div ng-show="showEditArea===true" ng-hide="!showEditArea||showEditArea===false"><textarea>{{vm.groupPage.content}}</textarea></div>
      <div ng-bind-html="sanitizedContent" ng-hide="hideCurrentContent===true" ng-show="!hideCurrentContent||hideCurrentContent===false"><p>{{sanitizedContent}}</p></div>
      <div data-ng-if="hasAuthorization(vm.groupPage)">
        <a class="btn btn-primary" href="/#!/groupPages/{{vm.groupPage._id}}/edit">Edit content</a>
        <a class="btn btn-danger" data-ng-click="remove(vm.groupPage);">Delete page</a>
      </div>
      <hr>
            <!-- News form items
             Gotta check what type of news update they are, then list appropriate fields + ability to edit them and add more
            -->
        <div ng-if="newsCategory==='Proposed project'" ng-init="createNews()">
            <h3>Sources</h3>
            <table class="table">
                <tr>
                    <td><strong>Source</strong></td>
                    <td><strong>Author</strong></td>
                    <td><strong>Date</strong></td>
                    <td><strong>Title</strong></td>
                    <td><strong>URL</strong></td>
                    <td class="delete-cell" data-ng-if="hasAuthorization(vm.groupPage)"></td>
                </tr>
                <tr ng-repeat="(key, thisSource) in news.sourceItems">
                    <td>{{thisSource.name}}</td>
                    <td>{{thisSource.author}}</td>
                    <td>{{thisSource.date}}</td>
                    <td>{{thisSource.title}}</td>
                    <td><a href="{{thisSource.link}}">Link</a></td>
                    <td class="delete-cell" data-ng-if="hasAuthorization(vm.groupPage)"><b ng-click="removeThis('sourceItems',thisSource)" class="glyphicon glyphicon-remove"></b></td>
                </tr>
            </table>
            <hr>
            <div ng-repeat="source in news.newSourceItems">
               <h3>Add New Sources</h3>
                <div class="col-xs-6">
                    <div class="form-group">
                      <label mean-token="'create-sourceName'" for="sourceName" class="control-label">Publication name</label>
                        <input type="text" class="form-control" data-ng-model="source.name" id="sourceName" placeholder="Source name (i.e., New York Times)" required>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                      <label mean-token="'create-link'" for="link" class="control-label">URL link</label>
                        <input type="text" class="form-control" data-ng-model="source.link" id="link" placeholder="URL link" required>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-author'" for="author" class="control-label">Author</label>
                        <input type="text" class="form-control" data-ng-model="source.author" id="author" placeholder="Author">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-date'" for="date" class="control-label">Source Date</label>
                        <input type="text" class="form-control" data-ng-model="source.date" id="date" placeholder="Date">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-title'" for="title" class="control-label">Article title</label>
                         <input type="text" class="form-control" data-ng-model="source.title" id="title" placeholder="Article title">
                    </div>
                </div>
               <div class="col-xs-12">
                   <button class="btn btn-danger" ng-click="removeSource(source)">Remove this source</button>
               </div>
           </div>
           <button class="btn btn-primary pull-right" ng-click="addSource()">Add a source</button>
           <p>Please give us any source information that will help to verify the proposed project. Add as many sources as you like.</p>
        </div>
        <!-- Spill form items -->
        <div ng-if="newsCategory==='Spill'">
            <div data-ng-if="hasAuthorization(vm.groupPage)" class="col-xs-12">
                <button class="btn btn-success pull-right" ng-click="saveData()">SAVE CHANGES</button>
            </div>
            <!--- Display details -->
            <h3>Spill Details</h3>
            <table class="table">
                    <tr>
                        <td><strong>Type</strong></td>
                        <td><strong>Cause</strong></td>
                    </tr>
                    <tr>
                        <td>{{spill.type}}</td>
                        <td>{{spill.cause}}</td>
                    </tr>
            </table>
          <div data-ng-if="hasAuthorization(vm.groupPage)" ng-init="createSpill()">
            <div ng-if="mapOptions.editDetails==='yes'"class="row">
                <!-- Spill type -->
                <div class="col-xs-6">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && groupPageForm.spill.type.$invalid }">
                      <label mean-token="'create-spillType'" for="spillType" class="control-label">Spill type</label>
                        <select class="form-control" data-ng-model="spill.type" id="spillType" ng-options="type for type in spill.types"><option>Select spill type</option></select>
                        <div ng-show="submitted && groupPageForm.spill.type.$invalid" class="help-block">
                          <p ng-show="groupPageForm.spill.type.$error.required">Spill type is required</p>
                      </div>
                    </div>
                </div>
                <!-- Spill cause  -->
                <div class="col-xs-6">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && groupPageForm.spill.cause.$invalid }">
                      <label mean-token="'create-spillCause'" for="spillCause" class="control-label">Spill cause</label>
                        <select class="form-control" data-ng-model="spill.cause" id="spillCause" ng-options="cause for cause in spill.causes"><option>Select spill cause</option></select>
                        <div ng-show="submitted && groupPageForm.spill.cause.$invalid" class="help-block">
                          <p ng-show="groupPageForm.spill.cause.$error.required">Spill cause is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="mapOptions.editDetails='yes'">Edit details</button>
                    <button class="btn btn-danger" ng-if="mapOptions.editDetails==='yes'" ng-click="mapOptions.editDetails='no'">Close</button>
                   <hr>
                </div>
            </div>
          </div>
            <!-- Spill amount -->
            <h5>Spill Amounts</h5>
            <table class="table">
                    <tr>
                        <td><strong>Amount (litres)</strong></td>
                        <td><strong>Material spilled</strong></td>
                        <td class="delete-cell" data-ng-if="hasAuthorization(vm.groupPage)"></td>
                    </tr>
                    <tr ng-repeat="thisSpill in spill.spillItems">
                        <td>{{thisSpill.amount}}</td>
                        <td>{{thisSpill.type}}</td>
                        <td class="delete-cell" data-ng-if="hasAuthorization(vm.groupPage)"><b ng-click="removeThis('spillItems',thisSpill)" class="glyphicon glyphicon-remove"></b></td>
                    </tr>
            </table>
          <div data-ng-if="hasAuthorization(vm.groupPage)">
            <div ng-repeat="spill in spill.newSpillItems">
                <div class="col-xs-12">
                    <button class="btn btn-danger" ng-if="$parent.spill.spillItems.length > 1" ng-click="removeSpillAmount(spill)">Remove</button>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && groupPageForm.spill.amount.$invalid }">
                      <label mean-token="'create-spillAmountL'" for="spillAmountL" class="control-label">Spill amount (litres)</label>
                        <input type="text" class="form-control" data-ng-model="spill.amount" id="spillAmountL" placeholder="Spill amount (litres)" required>
                        <div ng-show="submitted && groupPageForm.spill.amount.$invalid" class="help-block">
                          <p ng-show="groupPageForm.spill.amount.$error.required">Spill Amount (litres) is required</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && groupPageForm.spill.type.$invalid }">
                      <label mean-token="'create-spillAmountT'" for="spillAmountT" class="control-label">Spill type</label>
                        <select class="form-control" data-ng-model="spill.type" id="spillAmountT" ng-options="t for t in spill.amountsTypes"><option>Select amount type</option></select>
                        <div ng-show="submitted && groupPageForm.spill.type.$invalid" class="help-block">
                          <p ng-show="groupPageForm.spill.type.$error.required">Spill Type is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="addSpillAmount()">Add a spill amount</button>
                   <hr>
                </div>
            </div>
        </div>
            <!-- Companies -->
            <h5>Companies</h5>
            <table class="table">
                    <tr>
                        <td><strong>Company name</strong></td>
                        <td><strong>Website</strong></td>
                        <td class="delete-cell" data-ng-if="hasAuthorization(vm.groupPage)"></td>
                    </tr>
                    <tr ng-repeat="thisCompany in spill.companyItems">
                        <td>{{thisCompany.name}}</td>
                        <td>{{thisCompany.website}}</td>
                        <td class="delete-cell" data-ng-if="hasAuthorization(vm.groupPage)"><b ng-click="removeThis('companyItems',thisCompany)" class="glyphicon glyphicon-remove"></b></td>
                    </tr>
            </table>
          <div data-ng-if="hasAuthorization(vm.groupPage)">
            <div ng-repeat="company in spill.newCompanyItems">
               <div class="col-xs-12">
                    <button class="btn btn-danger" ng-click="removeCompany(company)">Remove</button>
               </div>
                <div class="col-xs-6">
                    <div class="form-group">
                      <label mean-token="'create-companyName'" for="companyName" class="control-label">Company name</label>
                        <input type="text" class="form-control" data-ng-model="company.name" id="companyName" placeholder="Company name" required>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                      <label mean-token="'create-website'" for="website" class="control-label">Company website</label>
                        <input type="text" class="form-control" data-ng-model="company.website" id="website" placeholder="Company website">
                    </div>
                </div>
           </div>
           <div class="row">
               <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="addCompany()">Add a company involved</button>
                   <hr>
               </div>
           </div>
        </div>

            <h5>Legal Consequences</h5>
            <table class="table">
                    <tr>
                        <td><strong>Plaintiff</strong></td>
                        <td><strong>Defendant</strong></td>
                        <td><strong>Verdict</strong></td>
                        <td><strong>Fine</strong></td>
                        <td><strong>Punishment</strong></td>
                        <td><strong>Details</strong></td>
                        <td class="delete-cell" data-ng-if="hasAuthorization(vm.groupPage)"></td>
                    </tr>
                    <tr ng-repeat="thisLegal in spill.legalItems">
                        <td>{{thisLegal.plaintiff}}</td>
                        <td>{{thisLegal.defendant}}</td>
                        <td>{{thisLegal.verdict}}</td>
                        <td>{{thisLegal.fine}}</td>
                        <td>{{thisLegal.punishment}}</td>
                        <td>{{thisLegal.details}}</td>
                        <td class="delete-cell" data-ng-if="hasAuthorization(vm.groupPage)"><b ng-click="removeThis('legalItems',thisLegal)" class="glyphicon glyphicon-remove"></b></td>
                    </tr>
            </table>
           <!-- Legal -->
          <div data-ng-if="hasAuthorization(vm.groupPage)">
            <div ng-repeat="legal in spill.newLegalItems">
                <div class="col-xs-12">
                    <button class="btn btn-danger" ng-click="removeLegal(legal)">Remove</button>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-plaintiff'" for="plaintiff" class="col-md-3 control-label">Plaintiff</label>
                        <input type="text" class="form-control" data-ng-model="legal.plaintiff" id="plaintiff" placeholder="Plaintiff">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-defendant'" for="defendant" class="col-md-3 control-label">Defendant</label>
                        <input type="text" class="form-control" data-ng-model="legal.defendant" id="defendant" placeholder="Defendant">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-verdict'" for="verdict" class="col-md-3 control-label">Verdict</label>
                        <input type="text" class="form-control" data-ng-model="legal.verdict" id="verdict" placeholder="Verdict">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-fine'" for="fine" class="col-md-3 control-label">Fine</label>
                        <input type="text" class="form-control" data-ng-model="legal.fine" id="fine" placeholder="Fine">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-punishment'" for="verdict" class="col-md-3 control-label">Punishment</label>
                        <input type="text" class="form-control" data-ng-model="legal.punishment" id="punishment" placeholder="Punishment">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-details'" for="details" class="col-md-3 control-label">Details</label>
                        <textarea class="form-control" data-ng-model="legal.details" id="details" placeholder="Details"></textarea>
                    </div>
                </div>
           </div>
            <div class="row">
               <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="addLegal()">Add a legal result</button>
                   <hr>
               </div>
            </div>
        </div>
            
            <h5>Environmental Consequences</h5>
            <table class="table">
                    <tr>
                        <td><strong>Area</strong></td>
                        <td><strong>Species</strong></td>
                        <td><strong>Chemicals</strong></td>
                        <td><strong>Fine</strong></td>
                        <td><strong>Cleaned up?</strong></td>
                        <td><strong>Details</strong></td>
                        <td class="delete-cell" data-ng-if="hasAuthorization(vm.groupPage)"></td>
                    </tr>
                    <tr ng-repeat="thisEnvironmental in spill.environmentalItems">
                        <td>{{thisEnvironmental.area}}</td>
                        <td>{{thisEnvironmental.species}}</td>
                        <td>{{thisEnvironmental.chemicals}}</td>
                        <td>{{thisEnvironmental.fine}}</td>
                        <td>{{thisEnvironmental.cleanedUp}}</td>
                        <td>{{thisEnvironmental.details}}</td>
                        <td class="delete-cell" data-ng-if="hasAuthorization(vm.groupPage)"><b ng-click="removeThis('environmentalItems',thisEnvironmental)" class="glyphicon glyphicon-remove"></b></td>
                    </tr>
            </table>
        <!-- Environmental -->
          <div data-ng-if="hasAuthorization(vm.groupPage)">
            <div ng-repeat="environmental in spill.newEnvironmentalItems">
                <div class="col-xs-12">
                    <button class="btn btn-danger" ng-click="removeEnvironmental(environmental)">Remove</button>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-area'" for="area" class="control-label">Area</label>
                        <input type="text" class="form-control" data-ng-model="environmental.area" id="area" placeholder="Area">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-species'" for="species" class="control-label">Species</label>
                        <input type="text" class="form-control" data-ng-model="environmental.species" id="species" placeholder="Species">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-chemicals'" for="chemicals" class="control-label">Chemicals</label>
                        <input type="text" class="form-control" data-ng-model="environmental.chemicals" id="chemicals" placeholder="Chemicals">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-fine2'" for="fine2" class="control-label">Fine</label>
                        <input type="text" class="form-control" data-ng-model="environmental.fine" id="fine2" placeholder="Fine">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-cleanedUp'" for="cleanedUp" class="control-label">Cleaned?</label>
                        <select class="form-control" data-ng-model="spill.cleanedUp" id="cleanedUp">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-details2'" for="details2" class="control-label">Details</label>
                        <textarea class="form-control" data-ng-model="environmental.details" id="details2" placeholder="Details"></textarea>
                    </div>
                </div>
           </div>
            <div class="row">
               <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="addEnvironmental()">Add an environmental result</button>
                   <hr>
               </div>
            </div>
        </div>
            
            <h5>Sources</h5>
            <table class="table">
                <tr>
                    <td><strong>Source</strong></td>
                    <td><strong>Author</strong></td>
                    <td><strong>Date</strong></td>
                    <td><strong>Title</strong></td>
                    <td><strong>URL</strong></td>
                    <td class="delete-cell" data-ng-if="hasAuthorization(vm.groupPage)"></td>
                </tr>
                <tr ng-repeat="thisSource in spill.sourceItems">
                    <td>{{thisSource.name}}</td>
                    <td>{{thisSource.author}}</td>
                    <td>{{thisSource.date}}</td>
                    <td>{{thisSource.title}}</td>
                    <td><a href="{{thisSource.link}}">Link</a></td>
                    <td class="delete-cell" data-ng-if="hasAuthorization(vm.groupPage)"><b ng-click="removeThis('sourceItems',thisSource)" class="glyphicon glyphicon-remove"></b></td>
                </tr>
            </table>
        <!-- Sources -->
          <div data-ng-if="hasAuthorization(vm.groupPage)">
            <div ng-repeat="source in spill.newSourceItems">
                <div class="col-xs-12">
                    <button class="btn btn-danger" ng-click="removeSource(source)">Remove</button>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-sourceName'" for="sourceName" class="control-label">Source name</label>
                        <input type="text" class="form-control" data-ng-model="source.name" id="sourceName" placeholder="Source name (i.e., New York Times)" required>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-link'" for="link" class="control-label">URL link</label>
                        <input type="text" class="form-control" data-ng-model="source.link" id="link" placeholder="URL link" required>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-author'" for="author" class="control-label">Author</label>
                        <input type="text" class="form-control" data-ng-model="source.author" id="author" placeholder="Author">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-date'" for="date" class="control-label">Source Date</label>
                        <input type="text" class="form-control" data-ng-model="source.date" id="date" placeholder="Date">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                      <label mean-token="'create-title'" for="title" class="control-label">Article title</label>
                         <input type="text" class="form-control" data-ng-model="source.title" id="title" placeholder="Article title">
                    </div>
                </div>
           </div>
            <div class="row">
               <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="addSource()">Add a source</button>
               </div>
            </div>
          </div>
        </div>
        <div data-ng-if="hasAuthorization(vm.groupPage)" class="col-xs-12">
            <button class="btn btn-success pull-right" ng-click="saveData()">SAVE CHANGES</button>
        </div>
        <!-- End of spill form items -->
        <hr>
    </div>
    <div class="col-sm-4">
      <div class="staticMap">
            <img src="https://maps.googleapis.com/maps/api/staticmap?center={{coords.latitude}},{{coords.longitude}}&zoom=13&size=600x300&maptype=roadmap
&markers=color:red%7Clabel:C%7C{{coords.latitude}},{{coords.longitude}}" class="img-responsive">
      </div>
      <!-- Page gallery -->
      <div class="groupPageGallery">
        <h4>Gallery</h4>
        <!-- Upload abilities, only for page admin right now -->
        <div data-ng-if="hasAuthorization(vm.groupPage)">
            <p>For big uploads, use Google Storage. For images, use the local upload. Only admins can upload to pages right now.</p>
            <button class="btn-primary" ng-click="googleStorage()">Google storage</button>
            <div ng-controller="GoogleStorageController" ng-show="googleStorage.editingAllowed===true" class="ng-hide">
                <button id="authorize-button" style="visibility: hidden">Authorize</button>
                <button ng-click="listBuckets()">List Buckets</button>
            </div>
            <button class="btn-primary" ng-click="uploadFile()">Upload File</button>
            <div ng-controller="MeanUploadController" ng-show="uploadFile.editingAllowed===true" class="ng-hide">
              <mean-upload file-dest="'/files/photos/'"
                upload-callback="uploadFinished2(files)"
                upload-file-callback="uploadFileCallback2(file)"></mean-upload>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div data-ng-repeat="img in newImageAttachments">
                        <img class="img-responsive" data-ng-src="{{img.src}}" alt="">
                        <p>Added!</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery of images -->
        <div id="links">
            <div data-ng-repeat="img in $root.imageAttachments">
                <div class="col-md-6 col-sm-12">
                    <a href="{{img.src}}" data-gallery>
                        <img style="margin:10px;box-shadow:2px 2px 2px #CCC;border:thin #ccc solid;" class="img-responsive" src="{{img.src}}" alt="Add alt">
                    </a>
                    <button data-ng-if="hasAuthorization(vm.groupPage)" class="btn btn-danger" ng-click="deleteImage(img)">Delete</button>
                </div>
            </div>
        </div>
        <div id="blueimp-gallery" class="blueimp-gallery">
            <!-- The container for the modal slides -->
            <div class="slides"></div>
            <!-- Controls for the borderless lightbox -->
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
            <!-- The modal dialog, which will be used to wrap the lightbox content -->
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body next"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left prev">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                Previous
                            </button>
                            <button type="button" class="btn btn-primary next">
                                Next
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>